In [100]:
import pandas as pd
from datetime import datetime

from app.database.data_cleaning import clean_data
from app.database.load_data import init_db, load_data_in_chunks

In [101]:
# path_csv1 = r'C:\Users\eytan zichel\PycharmProjects\spark\GTD-analysis\app\data\csv1-1000.csv'
path_csv1 = r'C:\Users\eytan zichel\PycharmProjects\spark\GTD-analysis\app\data\csv1-full.csv'
# path_csv2 = r'C:\Users\eytan zichel\PycharmProjects\spark\GTD-analysis\app\data\csv2-5000rows.csv'
path_csv2 = r'C:\Users\eytan zichel\PycharmProjects\spark\GTD-analysis\app\data\csv2-full.csv'

In [139]:
df1 = pd.read_csv(path_csv1, encoding='ISO-8859-1')
df2 = pd.read_csv(path_csv2, encoding='ISO-8859-1')

C:\Users\eytan zichel\AppData\Local\Temp\ipykernel_25856\3701193435.py:1: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(path_csv1, encoding='ISO-8859-1')

In [142]:
df1.tail()
df2.tail()

,Date,City,Country,Perpetrator,Weapon,Injuries,Fatalities,Description
40124,25-Dec-09,Detroit,United States,Al Qaeda,Explosives,1,0,"On December 25, 2009 Umar Farouk Abdulmutallab..."
40125,27-Dec-09,Athens,Greece,Conspiracy of Fire Cells of Thessaloniki-Athens,Explosives,0,0,"On December 27, 2009 a bomb placed inside a ba..."
40126,28-Dec-09,San Juan,Colombia,FARC,Fire or Firebomb,0,0,"On December 28, 2009 FARC rebels torched two b..."
40127,30-Dec-09,Porto Vecchio,France,Unknown,Explosives,0,0,"On December 30, 2009 a bomb was planted outsid..."
40128,31-Dec-09,Cloghoge,Northern Ireland,Unknown,Explosives,0,0,"On December 31, 2009 a 1000kg bomb was discove..."

In [143]:
country_region_map = df1[['country_txt', 'region']].drop_duplicates().set_index('country_txt')['region'].to_dict()

In [144]:
df2['Date'] = pd.to_datetime(df2['Date'], format='%d-%b-%y')
df2['Date'] = df2['Date'].apply(lambda x: x.replace(year=1900 + x.year % 100) if pd.notnull(x) and x.year > datetime.now().year else x)

df2['iyear'] = df2['Date'].dt.year
df2['imonth'] = df2['Date'].dt.month
df2['iday'] = df2['Date'].dt.day

In [145]:
df2['region'] = df2['Country'].apply(lambda x: country_region_map.get(x))

In [146]:
df2.rename(columns={
    'Country': 'country_txt',
    'City': 'city',
    'Perpetrator': 'gname',
    'Injuries': 'nwound',
    'Fatalities': 'nkill',
}, inplace=True)

In [147]:
relevant_columns1 = ['eventid', 'iyear', 'imonth', 'iday', 'region', 'country_txt',
              'city', 'latitude', 'longitude', 'attacktype1_txt', 'targtype1_txt',
              'gname', 'nkill', "nwound"]

relevant_data = df1[relevant_columns1]

In [155]:
def etl(data_to_load):
    data = clean_data(data_to_load)
    load_data_in_chunks(data, 10000)

In [156]:
init_db()

postgresql://postgres:1234@localhost:5433
postgresql://postgres:1234@localhost:5433/gtd

In [157]:
etl(relevant_data)

Loaded rows 0 to 10000
Loaded rows 10000 to 20000
Loaded rows 20000 to 30000
Loaded rows 30000 to 40000
Loaded rows 40000 to 50000
Loaded rows 50000 to 60000
Loaded rows 60000 to 70000
Loaded rows 70000 to 80000
Loaded rows 80000 to 90000
Loaded rows 90000 to 100000
Loaded rows 100000 to 110000
Loaded rows 110000 to 120000
Loaded rows 120000 to 130000
Loaded rows 130000 to 140000
Loaded rows 140000 to 150000
Loaded rows 150000 to 160000
Loaded rows 160000 to 170000
Loaded rows 170000 to 180000
Loaded rows 180000 to 190000
Data loaded successfully.

In [158]:
relevant_data2 = df2[['iyear', 'imonth', 'iday', 'region', 'country_txt', 
              'city','gname', 'nkill', "nwound"]]

In [159]:
etl(relevant_data2)

Loaded rows 0 to 10000
Loaded rows 10000 to 20000
Loaded rows 20000 to 30000
Loaded rows 30000 to 40000
Loaded rows 40000 to 50000
Data loaded successfully.