In [200]:
path_csv2 = 'csv2-5000rows.csv'
path_csv1 = 'gdt-1000rows.csv'
path_csv2_full = 'csv2-full.csv'

from datetime import datetime
import pandas as pd
df1 = pd.read_csv(path_csv1, encoding='ISO-8859-1')
df3 = pd.read_csv(path_csv2_full, encoding='ISO-8859-1')
country_region_map = df1[['country_txt', 'region']].drop_duplicates().set_index('country_txt')['region'].to_dict()
country_region_map

{'Dominican Republic': 2,
 'Mexico': 1,
 'Philippines': 5,
 'Greece': 8,
 'Japan': 4,
 'United States': 1,
 'Uruguay': 3,
 'Italy': 8,
 'East Germany (GDR)': 9,
 'Ethiopia': 11,
 'Guatemala': 2,
 'Venezuela': 3,
 'West Germany (FRG)': 8,
 'Switzerland': 8,
 'Jordan': 10,
 'Spain': 8,
 'Brazil': 3,
 'Egypt': 10,
 'Argentina': 3,
 'Lebanon': 10,
 'Ireland': 8,
 'Turkey': 10,
 'Paraguay': 3,
 'Iran': 10,
 'United Kingdom': 8,
 'Colombia': 3,
 'Bolivia': 3,
 'Nicaragua': 2,
 'Netherlands': 8,
 'Belgium': 8,
 'Canada': 1,
 'Australia': 12,
 'Pakistan': 6,
 'Zambia': 11,
 'Sweden': 8,
 'Costa Rica': 2,
 'South Yemen': 10,
 'Cambodia': 5}

In [209]:
df2 = pd.read_csv(path_csv2, encoding='ISO-8859-1')
df2['Date'] = pd.to_datetime(df2['Date'], format='%d-%b-%y')
df2['Date'] = df2['Date'].apply(lambda x: x.replace(year=1900 + x.year % 100) if pd.notnull(x) and x.year > datetime.now().year else x)

df2['iyear'] = df2['Date'].dt.year
df2['imonth'] = df2['Date'].dt.month
df2['iday'] = df2['Date'].dt.day

df2['region'] = df2['Country'].apply(lambda x: country_region_map.get(x))
# שינוי שמות של מספר עמודות
df2.rename(columns={
    'Country': 'country_txt',
    'City': 'city',
    'Perpetrator': 'gname',
    'Injuries': 'nwound',
    'Fatalities': 'nkill',
}, inplace=True)

df2.tail()

,Date,city,country_txt,gname,Weapon,nwound,nkill,Description,iyear,imonth,iday,region
4995,1987-11-20,Davao,Philippines,New People's Army (NPA),Unknown,0,0,PHILIPPINES. The New People's Army (NPA) carr...,1987,11,20,5.0
4996,1987-11-25,NaN,Zimbabwe,Other,Firearms,0,16,ZIMBABWE. Antigovernment rebels attacked a mi...,1987,11,25,NaN
4997,1987-11-25,NaN,Kuwait,Unknown,Fire or Firebomb,0,0,KUWAIT. An incendiary device went off at the ...,1987,11,25,NaN
4998,1987-11-25,Kiryat Shmona,Israel,Popular Front for the Liberation of Palestine ...,Explosives,8,7,ISRAEL. An Arab guerrilla used a motorized ha...,1987,11,25,NaN
4999,1987-11-26,NaN,Israel,Palestinian Revolution Forces General Command,Explosives,3,0,ISRAEL. The Palestinian Revolutionary Forces ...,1987,11,26,NaN

In [207]:
df1['gname'].unique()

array(['MANO-D', '23rd of September Communist League', 'Unknown',
       'Black Nationalists', 'Tupamaros (Uruguay)', "New Year's Gang",
       'Weather Underground, Weathermen', 'Left-Wing Militants',
       'Armed Commandos of Liberation', 'Commune 1',
       'Eritrean Liberation Front', 'Strikers', 'Student Radicals',
       'White extremists',
       'Armed Forces of National Liberation- Venezuela (FALN)',
       "New People's Army (NPA)",
       'Armed Revolutionary Independence Movement (MIRA)',
       'Popular Front for the Liberation of Palestine (PFLP)',
       'Popular Front for the Liberation of Palestine, Gen Cmd (PFLP-GC)',
       '1st of May Group', 'Rebel Armed Forces of Guatemala (FAR)',
       'Ku Klux Klan', 'Popular Revolutionary Vanguard (VPR)',
       'Revolutionary Force 9', 'Puerto Rican Nationalists',
       'Chicano Liberation Front', 'Puerto Rican Resistance Movement',
       'Black Panthers', 'Dominican Popular Movement (MPD)',
       'Argentine Liberation Front (FAL)',
       'Argentine National Organization Movement (MANO)',
       'Japanese Red Army (JRA)', 'Saor Eire (Irish Republican Group)',
       'New World Liberation Front (NWLF)', 'Cuban Exiles',
       'The World United Formosans for Independence (WUFI)',
       'Palestinians', 'Extraparliamentary Opposition (APO)',
       'Revolutionary Force 26', 'Black Afro Militant Movement',
       'Stop the War Coalition', 'Cuban Action',
       'Jewish Defense League (JDL)', 'Right-wing extremists',
       'Montoneros (Argentina)', 'Kabataang Makabayan (KM)',
       'Irish Republican Army (IRA)', 'Ulster Volunteer Force (UVF)',
       'National Committee to Combat Fascism',
       'Revolutionary Force Seven', 'Seattle Liberation Front',
       'Ejercito de Liberacion Nacional (Bolivia)', 'Arabs',
       'Sandinista National Liberation Front (FSLN)',
       "American Servicemen's Union (ASU)", 'GAC',
       'Revolutionary Armed Forces- Argentina (FAR-A)', 'South Moluccans',
       'Croatian Nationalists', 'SFT', 'Jonathan Jackson Brigade',
       'Peronist Armed Forces (FAP)', 'White Panther Party',
       'Revolutionary Action Party', "Turkish People's Liberation Army",
       'Ejercito Revolucionaria del Pueblo (ERP) (Argentina)',
       'Palestine Liberation Organization (PLO)', 'Welsh Extremists',
       'Protestant extremists', 'Siah KAL',
       "Turkish People's Liberation Front (TPLF)(THKP-C)",
       'Neo-Nazi extremists', 'Front de Liberation du Quebec (FLQ)',
       'Quartermoon Society',
       'Students for a Democratic Society (SDS) (German)', 'Iranians',
       'Black Liberation Army', 'Baader-Meinhof Group',
       'Basque Fatherland and Freedom (ETA)',
       'Irish Republican Extremists',
       "Socialist Patients' Collective (SPK)",
       'Revolutionary Committee of Mozambique (COREMO)',
       'Tony El Pelou Band', 'BAY Bombers',
       'Movement of the Revolutionary Left (MIR) (Venezuela)',
       'Official Irish Republican Army (OIRA)',
       'Catalan Liberation Front (FAC)', 'Black Cells',
       'Secret Cuban Government', 'Students', 'RYF',
       'Black Revolutionary Assault Team', 'Left-wing extremists',
       "People's Revolutionary Party", 'Chicano Radicals',
       'Students for a Democratic Society', 'Regulators',
       'Revolutionary Communist League (LCR) (Spain)', 'Black September'],
      dtype=object)

In [205]:
df3['Weapon'].unique()
#klbled

array(['Firearms', 'Explosives', 'Fire or Firebomb', 'Unknown',
       'Knives & sharp objects', 'Other', 'Chemical Agent',
       'Remote-detonated explosive', 'Biological Agent', nan, 'Business',
       'Telecommunication', 'Bombing'], dtype=object)

In [178]:
df = pd.read_csv(path_csv1, encoding='ISO-8859-1')
country_region_map = df[['country_txt', 'region_txt']].drop_duplicates().set_index('country_txt')['region_txt'].to_dict()
country_region_map

{'Dominican Republic': 'Central America & Caribbean',
 'Mexico': 'North America',
 'Philippines': 'Southeast Asia',
 'Greece': 'Western Europe',
 'Japan': 'East Asia',
 'United States': 'North America',
 'Uruguay': 'South America',
 'Italy': 'Western Europe',
 'East Germany (GDR)': 'Eastern Europe',
 'Ethiopia': 'Sub-Saharan Africa',
 'Guatemala': 'Central America & Caribbean',
 'Venezuela': 'South America',
 'West Germany (FRG)': 'Western Europe',
 'Switzerland': 'Western Europe',
 'Jordan': 'Middle East & North Africa',
 'Spain': 'Western Europe',
 'Brazil': 'South America',
 'Egypt': 'Middle East & North Africa',
 'Argentina': 'South America',
 'Lebanon': 'Middle East & North Africa',
 'Ireland': 'Western Europe',
 'Turkey': 'Middle East & North Africa',
 'Paraguay': 'South America',
 'Iran': 'Middle East & North Africa',
 'United Kingdom': 'Western Europe',
 'Colombia': 'South America',
 'Bolivia': 'South America',
 'Nicaragua': 'Central America & Caribbean',
 'Netherlands': 'Western Europe',
 'Belgium': 'Western Europe',
 'Canada': 'North America',
 'Australia': 'Australasia & Oceania',
 'Pakistan': 'South Asia',
 'Zambia': 'Sub-Saharan Africa',
 'Sweden': 'Western Europe',
 'Costa Rica': 'Central America & Caribbean',
 'South Yemen': 'Middle East & North Africa',
 'Cambodia': 'Southeast Asia'}

In [211]:
relvant = df2[['iyear', 'imonth', 'iday', 'region', 'country_txt', 
              'city','gname', 'nkill', "nwound"]]

In [149]:
print(relvant.dtype)

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [144]:
relvant = relvant.dropna(axis=0, how='any')
print(relvant.shape)

(860, 14)

Latitude: None, Longitude: None